<h1>{{title}}</h1>
<br>
Welcome {{user}}
<br>
<h2> Upload </h2>
<form action="upload" method="post" enctype="multipart/form-data">
	<input type="file" name="filetoupload"><br>
	<input type="submit">
</form>
