<h1>{{title}}</h1>
<br>
Welcome {{user}}
<br>
<h2> Upload </h2>
<form action="upload" method="post" enctype="multipart/form-data">
	<input type="file" name="filetoupload"><br>
	<input type="submit">
</form>
<br>
<h2>Files</h2>
<ul>
{{#each files}}
			<form method="post">
				<li>{{this}}
					<input type="hidden" name="name" value={{this}}>
					<input formaction="download" type="submit" value="Download">
					<input formaction="delete" type="submit" value="Delete">
				</li>
			</form>
{{/each}}
</ul>
